name = "memos-worker"
compatibility_date = "2025-08-19"
main = "src/index.js"
[assets]
directory = "./src/public"
run_worker_first = [
	"/api/*"
]

[[d1_databases]]
binding = "DB"
database_id = "750efd5d-6921-4808-ab24-3e5551b0d8fe"
database_name = "notes-db"

[[kv_namespaces]]
binding = "NOTES_KV"
id = "fcb6a24ee3fc4baca04a2c54f456d16c"
preview_id = ""
